h1 {
    text-align: center;
    color: gray;
    font-weight: 900;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 15px;

}

#ground #water {
    font-weight: 900;
}

.data {
    position: relative;
    left: 120px;
}

.data2 {
    position: relative;
    left: 18px;
}

.button {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
    /* Darker green on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increase shadow on hover */
}