.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.productForm {
    position: relative;
    top: 4rem;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
    max-width: 500px;
    margin: 0 auto;
}

.fields {
    margin-top: 20px;
}

.txtabtProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txtabtProduct .inputField {
    width: 48%;
}

.inputField {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
