body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.stats,
.appointments,
.patients {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 10px;

}

.stats h2,
.appointments h2,
.patients h2 {
    margin-top: 0;
}

ul#upcomingAppointments {
    list-style: none;
    padding: 0;
}

ul#upcomingAppointments li {
    margin-bottom: 10px;
}

table#patientDetails {
    width: 100%;
    border-collapse: collapse;
}

table#patientDetails th,
table#patientDetails td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}