body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 640px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.filterAndSort {
    display: flex;
    align-items: flex-start;
    margin-left: 43.2rem;
}

.filter,
.sort {
    margin-right: 10px;
}

.select {
    margin-right: 10px;
}

.empty {
    margin-top: 20px;
    text-align: center;
}


form input,
form select,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.task-complete {
    text-decoration: line-through;
}

.task-text {
    font-size: large;
    font-weight: 600;
}

.task-date {
    margin-left: 1rem;

}

.task-priority button.btn-sm {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.8rem; 
}