body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff;
}

form {
    margin-bottom: 30px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
button {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* ul {
    list-style: none;
    padding: 0;
} */

table {
    width: 90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

.patient-details {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.cancel-appointment-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-appointment-btn:hover {
    background-color: #c82333;
}
