body {
    margin: 0;
    font-family: Poppins;
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.title {
    font-size: 24px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 7rem 0;
}

.listProduct .item img {
    width: 90%;
    height: 50%;
    filter: drop-shadow(0 7px 22px #0009);
    border-radius: 5px;
}


.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    height: 300px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
    margin-top: 10px;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* For bigger screen like laptop or tablet */
@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

.searchingSorting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#sorting {
    margin-left: auto;
}

#itemSorting {
    padding: 5px;
    border-radius: 5px;
    position: relative;
    right: 16rem;
}

#txtSearch {
    padding: 8px;
    padding-right: 12rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    width: 68%;
    position: relative;
    left: 20rem;
}

#searchBtn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 21rem;
}

#searchBtn:hover {
    background-color: #0056b3;
}

#addBtn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    right: 2rem;
    bottom: 0.5rem;
}

#addBtn:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dfdfd8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0b0a0a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav form {
    padding: 20px;
    color: white;
}

.sidenav label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.sidenav input[type="text"],
.sidenav input[type="number"],
.sidenav input[type="submit"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sidenav input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.sidenav input[type="submit"]:hover {
    background-color: #007bff;
}